body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRgkdNJArMgI-gXdyeFE0_lDDdFTcYeI10I2-r2P7_RNDd7BEW");
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-size: cover;
}
.form{
   float:right;
   background-color: lightgrey;
   width: 500px;
   border: 2px solid green;
   padding: 15px;
   margin: 10px;
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSutFWl4_aOQnZm5myQ3EhDdFPyK6dFV651_NaHnhrMIVIjPUKv");
}

#{
  padding-top: 100px;
}

#Submit{
  height: 20px;
  width: 100px;
}
